*{
    font-family:sans-serif;
    font-size: 2vh;
    border-radius: 3px;
    overflow: hidden;
}
body{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.cover{
    display: flex;
    flex: none;
    width: 60vh;
    height: 80vh;
    justify-content: center;
    align-items:stretch;
    gap: 2vh;
    padding: 3vh;
    background-color:darkslategrey;
    margin: 0;
}
.history{
    width: 20vh;
    flex: none;
    background-color:palegoldenrod;
    display: flex;
    flex-direction: column;
}

.calculator{
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: stretch;
    gap: 2vh;
}
.display{
    display: flex;
    flex: 1;
    background-color:palegoldenrod;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin: 0;

}

.display p{
    margin: 0;
    padding: 2vh;
    font-size:xx-large;
    font-weight: 800;
    flex-wrap: wrap;
}

.digits {
    flex: 1;  
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.charRow{
    display: flex;
    flex: auto;
    gap: 0.5vw;
}

.number, .symbol{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}
.number{
    background-color: antiquewhite;
}
.symbol{
    background-color:burlywood;    
}
.entry{
    padding: 0;
    margin: 0;
}
.log{
    padding: 2vw;
    margin: 0;
}